{% extends 'includes/layout.html' %}


{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1> 💼 Travel ‍💼 </h1>
    <p class="lead">
    Write a story about travel. You can ask AI to help you complete a sentence (click Complete), 
    prompt the next thing to write (click Prompt), 
    and suggest a verb (click Verb) or adjective (click Adjective).
    </p>

    <h2>Write your story here</h2>

    <form class="" action="/Travel" method="post">

      <div class="mb-3">
        <!-- <label class="form-label">Title of Business</label> -->
        <input type="text" class="form-control" name="Travel" placeholder="eg. Alex travels with his family every summer.">
        <div class="form-text">Describe a character, and his or her story of travel.</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Complete</button>
      <button type="submit" class="btn btn-primary btn-lg">Prompt</button>
      <button type="submit" class="btn btn-primary btn-lg">Verb</button>
      <button type="submit" class="btn btn-primary btn-lg">Adjective</button>
    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{prompt}} {{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
